<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
</style>
    <h1>Application Performance Monitor</h1>
</head>

  <table>
      <tr>
        <th>Number of Users</th>
        <th>Number of Movies</th>
          <th>Average Movies seen per User</th>
            <th>Average Rating</th>
          <th>New Users since launch</th>
      </tr>
      <tr>
          {% for summary in summaryList %}
                <td>{{ summary.numUsers }}</td>
        <td>{{ summary.numMovies }}</td>
          <td>{{ summary.avgMovies }}</td>
          <td>{{ summary.avgRating }}</td>
          <td>-1</td>
          {% endfor %}
      </tr>
    </table>
  <br/>
  <br/>
    <table>
      <tr>
        <th>RMSE</th>
        <th>MAE</th>
      </tr>
      <tr>
          {% for summary in summaryList %}
        <td>{{ summary.RMSE }}</td>
        <td>{{ summary.MAE }}</td>
          {% endfor %}
      </tr>
    </table>
    <img src="/movies/charts/histRated.png"/>
</html>
