{% load static %}
<html>
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% if movie_list %}
    <select>
    {% for u in user_list  %}
        <option><a href="/movies/{{ u.id }}/">{{ u.userId }}</a></option>
    {% endfor %}
    <select/>
        {% else %}
            <p>No movies are available.</p>
        {% endif %}
</html>
    <!--<select>
    {% for m in movie_list  %}
        <option><a href="/movies/{{ m.id }}/">{{ m.title }}</a></option>
    {% endfor %}
    <select/>
        {% load ratings %}
        {% for r in ratings_list %}
           {% ratings r %}
        {% endfor %}
     -->


