{% load staticfiles %}
<html>
    <head>

        <title>Movie Hacker</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'templated-projection/assets/css/main.css' %}" />



    </head>

    <body>
        <!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to Movie Guru</h1>
					</header>



					<footer>
                        <br/>
                        <a href="/movies/user.html" class="button">Get Started!</a>
                        <br/>
                        <br/>
                        <br/>
                        <a href="/movies/admin.html" class="button">Admin</a>
					</footer>
				</div>
			</section>

            <!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Movie Guru Description</h3>

					<article>
							<p>  The website use collaborative filtering model to predict the ratings of movies.
                                <br />
                                Signing and you can rate 3 different movies. We will give you our recommendations!
                                <br />
                                To see how our model performs go to the Admin page.

                            </p>

                    </article>


				</div>



			</footer>
        <!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
						<article>
							<div class="image round">
								<img src="{% static 'templated-projection/images/selfies.JPG'%}" alt="Pic 01" />
							</div>
                            <br />
                            <br />
							<footer>
								<a href="#" class="button">Best Group Ever</a>
							</footer>
                            <br />
							<p>Jacob Penrod
                                <br />
                                Luke Xincen Duan
                                <br />
                                Omer Cheema
                                <br />
                                Tran Cong Minh</p>

						</article>
				</div>
			</section>



</body>
</form>

</html>

