<html>

<head>
    <h1>Pick three movies you have seen and rate them on a scale of 1 - 5 </h1>
    <style>
    </style>

</head>
<body>
<h2 color="red">{{ error_message }}</h2>
<form action="" method="post">
    {% csrf_token %}
    <select name="movie1">
    {% for m in movie_list_1  %}
        <option value="{{m.movieId}}">{{ m.title  }}</option>
    {% endfor %}
    </select>
        <input type="text" name="rating1" pattern="[1-5]" title="Please type a number 1-5" required=True />
        <br/>
        <br/>
        <br/>
           <select name="movie2">
    {% for m in movie_list_2  %}
        <option value="{{m.movieId}}">{{ m.title  }}</option>
    {% endfor %}
    </select>
        <input type="text" name="rating2" pattern="[1-5]" title="Please type a number 1-5" required=True />
        <br/>
        <br/>
        <br/>
               <select name="movie3">
    {% for m in movie_list_3  %}
        <option value="{{m.movieId}}">{{ m.title  }}</option>
    {% endfor %}

    </select>
                   <input type="text" name="rating3" pattern="[1-5]" title="Please type a number 1-5" required=True />
                           <br/>
        <br/>
        <br/>
  <input type="submit" value="Select" onsubmit="event.preventDefault(); ddValidate();">
</form>
</body>

</html>