<html>

<header>
    <h1>Pick three movies you have seen and rate them on a scale of 1 - 5 </h1>
    <style>
    </style>
    <script type="text/javascript">
    function ddValidate() {
        var m1 = document.getElementById("movie1");
        var m2 = document.getElementById("movie2");
        var m3 = document.getElementById("movie3");
        if (m1.selectedIndex == m2.selectedIndex) {
            alert("Movies 1 and 2 are the same");
            event.preventDefault();
        }
        else if (m1.selectedIndex == m3.selectedIndex) {
            alert("Movies 1 and 3 are the same");
            event.preventDefault();
        }
        else if (m2.selectedIndex == m3.selectedIndex) {
            alert("Movies 2 and 3 are the same");
            event.preventDefault();
        }
        else
        {
          $('form').append('<input type="hidden" id="movie1" name="movie1" value="'+ m1.options[m1.selectedIndex].value +'"/>');
          $('form').append('<input type="hidden" id="movie2" name="movie2" value="'+ m2.options[m2.selectedIndex].value +'"/>');
          $('form').append('<input type="hidden" id="movie3" name="movie3" value="'+ m3.options[m3.selectedIndex].value +'"/>');
        }
    }
</script>
</header>
<body>
<form action="" method="post">
    {% csrf_token %}
    <select name="movie1">
    {% for m in movie_list_1  %}
        <option value="{{m.movieId}}">{{ m.title  }}</option>
    {% endfor %}
    </select>
        <input type="text" name="rating1" pattern="[1-5]" title="Please type a number 1-5" required=True />
        <br/>
        <br/>
        <br/>
           <select name="movie2">
    {% for m in movie_list_2  %}
        <option value="{{m.movieId}}">{{ m.title  }}</option>
    {% endfor %}
    </select>
        <input type="text" name="rating2" pattern="[1-5]" title="Please type a number 1-5" required=True />
        <br/>
        <br/>
        <br/>
               <select name="movie3">
    {% for m in movie_list_3  %}
        <option value="{{m.movieId}}">{{ m.title  }}</option>
    {% endfor %}

    </select>
                   <input type="text" name="rating3" pattern="[1-5]" title="Please type a number 1-5" required=True />
                           <br/>
        <br/>
        <br/>
  <input type="submit" value="Select" onclick="ddValidate();">
</form>
</body>

</html>