{% load staticfiles %}
<html>

<head>
    <title>Admin</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'templated-projection/assets/css/main.css' %}" />


</head>
<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Please Rate Three Movies</h1>
                        <h3>Select movie you want to rate.</h3>
                        <h3>Type in your ratings(0-5)</h3>

                        <br/>
                        <br/>
                        <h3>***{{ error_message }}***</h3>

					</header>
				</div>


			</section>

<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<header>
								<h3>Movies</h3>
							</header>
							<form action="" method="post">
                            {% csrf_token %}
                                 <select name="movie1">
                                 {% for m in movie_list_1  %}
                                 <option value="{{m.movieId}}">{{ m.title  }}</option>
                                    {% endfor %}
                                    </select>
                                <input type="text" name="rating1" pattern="[1-5]" title="Please type a number 1-5" required=True />
                                <br/>
                                 <br/>
                                <br/>
                                <select name="movie2">
                                    {% for m in movie_list_2  %}
                                 <option value="{{m.movieId}}">{{ m.title  }}</option>
                                    {% endfor %}
                                </select>
                                    <input type="text" name="rating2" pattern="[1-5]" title="Please type a number 1-5" required=True />
                                    <br/>
                                    <br/>
                                    <br/>
                                           <select name="movie3">
                                {% for m in movie_list_3  %}
                                    <option value="{{m.movieId}}">{{ m.title  }}</option>
                                {% endfor %}

                                </select>
                                               <input type="text" name="rating3" pattern="[1-5]" title="Please type a number 1-5" required=True />
                                                       <br/>
                                    <br/>
                                    <br/>
                              <input type="submit" value="Select" onsubmit="event.preventDefault(); ddValidate();">
                            </form>
						</article>
						<article>
                            <br/>
                            <br/>
                            <right><span class="image fit"><img src="{% static 'templated-projection/images/movie2.jpg'%}" alt="" /></span></right>
							<br/>


						</article>
					</div>
				</div>
			</section>



</body>




</html>